{% extends 'base.html.twig' %}

{% block title %}Edit CurriculumSubject{% endblock %}

{% block body %}
    <h1>Edit CurriculumSubject</h1>

    {{ include('curriculum_subject/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('curriculum_subject_index') }}">back to list</a>

    {{ include('curriculum_subject/_delete_form.html.twig') }}
{% endblock %}
