{% extends 'base.html.twig' %}

{% block title %}New FacultyLoad{% endblock %}

{% block body %}
    <h1>Create new FacultyLoad</h1>

    {{ include('faculty_load/_form.html.twig') }}

    <a href="{{ path('faculty_load_index') }}">back to list</a>
{% endblock %}
