{% extends 'base.html.twig' %}
{% block body %}
    <h1>Edit Academic Year</h1>
    <a href="{{ path('academic_year_index') }}">back to list</a>

    {{ include('academic_year/_form.html.twig', {'button_label': 'Update'}) }}


    {{ include('academic_year/_delete_form.html.twig') }}
{% endblock %}
