{% extends 'base.html.twig' %}

{% block body %}
    <h1>Create new Academic Year</h1>
    <a href="{{ path('academic_year_index') }}">back to list</a>

    {{ include('academic_year/_form.html.twig') }}

{% endblock %}
