{% extends 'base.html.twig' %}

{% block title %}New AddedProfLoad{% endblock %}

{% block body %}
    <h1>Create new AddedProfLoad</h1>

    {{ include('added_prof_load/_form.html.twig') }}

    <a href="{{ path('added_prof_load_index') }}">back to list</a>
{% endblock %}
