{% extends 'base.html.twig' %}

{% block title %}Edit CurriculumSubjectEquivalence{% endblock %}

{% block body %}
    <h1>Edit CurriculumSubjectEquivalence</h1>

    {{ include('curriculum_subject_equivalence/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('curriculum_subject_equivalence_index') }}">back to list</a>

    {{ include('curriculum_subject_equivalence/_delete_form.html.twig') }}
{% endblock %}
