<form method="post" action="{{ path('student_profiling_details_delete', {'id': student_profiling_detail.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ student_profiling_detail.id) }}">
    <button class="btn">Delete</button>
</form>
