{% extends 'base.html.twig' %}

{% block title %}Edit ExamPassingScore{% endblock %}

{% block body %}
    <h1>Edit ExamPassingScore</h1>

    {{ include('exam_passing_score/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('exam_passing_score_index') }}">back to list</a>

    {{ include('exam_passing_score/_delete_form.html.twig') }}
{% endblock %}
