{% extends 'base.html.twig' %}

{% block title %}New ExamPassingScore{% endblock %}

{% block body %}
    <h1>Create new ExamPassingScore</h1>

    {{ include('exam_passing_score/_form.html.twig') }}

    <a href="{{ path('exam_passing_score_index') }}">back to list</a>
{% endblock %}
